.main{
    width: 100vw;
    height: 100vh;
    background-color: #F1F3F6;
    overflow-y: hidden;

}

.cart_div{
    width: 54vw;
    max-height: 85%;
    /* height: 70vh; */
    background-color: white;
    margin-left: 10%;
    margin-top: 2%;
    position: absolute;
    z-index: 10;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
    overflow-y: scroll;
}

.price{
    width: 25%;
    height: 40%;
    background-color: white;
    position: absolute;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
    margin-left: 66%;
    margin-top: 2%;
}

.cart_price_title{
    display: block;
    padding: 13px 24px;
    font-weight: 500;
    color: #878787;
    min-height: 10px;
    border-radius: 2px 2px 0 0;
    border-bottom: 1px solid #f0f0f0;
    font-size: 16px;
}

.price_item{
    margin-left: 5%;
}

.price_cart{
    width: 25%;
    display: flex;
    flex-direction:row;
}

.my_cart{
    width: 50%;
    height: 2%;
    font-size: 19px;
    font-weight: 500;
    padding-top: 2%;
    padding-left: 3%;

}



.hr{
    border-width: 0.1px;
    border-color: #efefef2d;

}

.cart_display{
    display: flex;
    flex-direction: row;
}

.cart_image{
    width: 8vw;
    height: 20vh;
    /* background-color: black; */
    margin-left: 2%;
    /* position: absolute; */
    /* padding-top: 1.5%; */
    align-items: center;
}

.cart_image_display{
    /* padding-top: 5%; */
    width:90%;
    height: 90%;
    align-items: center;
    padding-left: 6%;
}

.cart_details{
    /* background-color: black; */
    /* color: white; */
    width: 42vw;
    height:22vh ;
    margin-left: 2%;
    margin-bottom: 3%;



}


.display_details{
    padding-left: 2%;
    font-size: 16px;
}

.display_details_price{
    padding-left: 2%;
    font-size: 18px;
    font-weight: 500;
}

.counter_div{
    height: 30%;
    display: flex;
    justify-content: space-between;
    margin-top: 3%;


}

.counter{
    width: 30%;
    height: 80%;
    border-radius: 50%;
    font-size: 20px;
    background-color: white;
    border-width: 0.9px;
    border-color: #a3a2a2b7;
    cursor: pointer;
}

.counter:hover{
background-color: rgba(0, 0, 0, 0.19);
transform: scale(1.02);

}
.counter_display{
    width: 40%;
    height: 80%;
    background-color: white;
    border-width: 0.9px;
    border-color: #a3a2a2b7;
    margin-left: 3%;
    margin-right: 3%;
}

.remove_button{
    background-color: white;
    border: none;
    font-size: 14px;
    font-weight: 555;
    margin-left: 40%;
    cursor: pointer;
}

.remove_button:hover{
    color:blue;
}

.total_price{
    padding-left: 32%;
    font-weight: 500;
    font-size: 15px;

}

.total_delivery{
    padding-left: 28%;
    font-weight: 500;
    font-size: 15px;
    color:#388E55;

}

.final_price{
    padding-left: 5%;
    font-weight: 600;
    font-size: 17px;
}

.price_total{
    padding-left: 40%;
    font-weight: 600;
    font-size: 17px;
}

.placeorder{
    background-color: #FB641B;
    width: 24%;
    height: 8%;
    margin-top: 22%;
    margin-left: 66.5%;
}

.placeyourorder{
color:white;
font-weight: 600;
padding-top: 4.5%;
margin-left: 32%;
cursor: pointer;
}

.order{
margin-left: 10%;
/* margin-top: %; */
}

.orders{
margin-left: 23%;
}